* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #464646;
    clear: left;
    text-align: center;
}

body {
	margin: 0 !important;
    padding: 0 !important;
	font-size: 14px;
	font-family: Arial, sans-serif;
	color: white;
    background-color: #313131;
    clear: left;
 }


/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #464646;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #464646;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #464646;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
	background-color: #464646;
}
